<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
</head>
<body style="width: 100%; height: 100dvh; margin: 0; background-color: black;">
    <section style="
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    color: #fff;
    margin: auto;
    width: 100%;
    height: 100dvh; ">
        <img style="width: 300px; border-radius: 50%;" src="../assets/404.webp" alt="">
        <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">De pagina die je probeert te bereiken bestaat niet.</p>
    </section>
</body>
</html>