<!DOCTYPE html>
<html lang="nl-BE">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/pokemonICO.ico" type="image/x-icon">
  <title>Wachtwoord wijzigen | TripleHarmony</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <!--SCRIPTS-->
  <script src="https://kit.fontawesome.com/cd8c9527e1.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>

<body id="poke-bg" class="ingelogd">
  <header>
    <nav>
      <section class="left-container">
        <img src="/assets/pokemon_logo.png" alt="logo">
      </section>
      <section id="nav-menus" class="nav-container">
      </section>
      <section class="right-container">
        <ul>
          <li></li>
          <li><button>
              <i class="fa-solid fa-question"></i>
            </button></li>
          <li><a href="/"><i class="fa-solid fa-grip btn btn-dark"></i></a></li>
        </ul>
      </section>
    </nav>
  </header>
  <main>
    <section class="modal fade" id="changePassword" tabindex="-1">
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <section class="modal-header">
            <h5 class="modal-title">Wijzig uw wachtwoord</h5>
          </section>
          <section class="modal-body text-center">
            <form action="/pokemon-auth/change-password/<%= id %>" method="post">
              <section class="mb-2">
                <label for="oldPassword" class="form-label">Tijdelijke wachtwoord</label>
                <span class="text-danger" id="oldPasswordError"></span>
                <section class="input-group">
                  <input type="password" name="oldPassword" class="form-control" id="oldPassword" placeholder="Tijdelijke wachtwoord" required>
                  <span class="input-group-text btn btn-primary"><i class="fa-solid fa-lock"></i></span>
                </section>
              </section>
              <section class="mb-2">
                <label for="newPassword" class="form-label">Nieuw wachtwoord</label>
                <span class="text-danger" id="newPasswordError"></span>
                <section class="input-group">
                  <input type="password" name="newPassword" class="form-control" id="newPassword" placeholder="Nieuw wachtwoord" required>
                  <span class="input-group-text btn btn-primary"><i class="fa-solid fa-lock"></i></span>
                </section>
              </section>
              <section class="mb-2">
                <button type="submit" class="btn btn-primary">Wijzig wachtwoord</button>
              </section>
            </form>
          </section>
          <section class="modal-footer" style="display: flex; justify-content: center; align-items: center;">
            Wil je terug naar de login pagina? <a href="/pokemon-auth">Klik hier</a>
          </section>
        </section>
      </section>
    </section>
  </main>
  <script>
    document.addEventListener("DOMContentLoaded",e=>{let t=new bootstrap.Modal(document.getElementById("changePassword"),{keyboard:!1,backdrop:"static"});t.show();let n=document.getElementById("oldPasswordError"),l=document.getElementById("newPasswordError"),r=document.getElementById("oldPassword"),d=document.getElementById("newPassword"),o=document.querySelector("form");o.addEventListener("submit",e=>{n.innerText="",l.innerText="";let t=r.value.trim(),o=d.value.trim(),s=!0;t?n.style.display="none":(n.innerText="Vul een wachtwoord in",n.style.display="block",s=!1),o?o.length<8?(l.innerText="Vul een wachtwoord in van minstens 8 karakters.",l.style.display="block",s=!1):l.style.display="none":(l.innerText="Vul een wachtwoord in",l.style.display="block",s=!1),s||e.preventDefault()})});
  </script>
</body>

</html>