<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <script src="https://kit.fontawesome.com/cd8c9527e1.js" crossorigin="anonymous"></script>
</head>
<body style="width: 100%; height: 100dvh; margin: 0; background-color: black;">
    <section style="
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    color: #fff;
    margin: auto;
    width: 100%;
    height: 100dvh; ">
        <img style="width: 300px; border-radius: 40%;" src="../assets/error.gif" alt="">
        <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Een error heeft zich opgetreden bij het laden van data.</p>
        <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red; padding: .5rem; background-color: white;">Namelijk: <span style="font-weight: bold;"><%= errorMessage %></span></p>
        <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Wilt u terug naar de thuispagina? <a style="color: #fff; text-decoration: none;" href="/pokemon-submenu"><i style="color: #fff;" class="fa-solid fa-house"></i></a></p>
    </section>
</body>
</html>