<!DOCTYPE html>
<html lang="nl-BE">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/assets/pokemonICO.ico" type="image/x-icon">
  <title>Pokémon Finder</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/style.css" />
  <!--SCRIPTS-->
  <script src="https://kit.fontawesome.com/cd8c9527e1.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script defer src="/scripts/finder.js"></script>
  <script defer src="/scripts/general.js"></script>
  <script src="/scripts/joy.js"></script>
</head>

<body class="ingelogd" id="finder">
  <header>
    <nav>
      <section class="left-container">
        <a href="/pokemon-submenu"><img src="/assets/pokemon_logo.png" alt="logo"></a>
      </section>
      <section id="nav-menus" class="nav-container">
        <ul class="">
          <li><abbr title="Pokémons&nbsp;bekijken"><a href="/pokemons-bekijken"><img src="/assets/nav-icons-black/bekijken.png" alt=""></a></abbr>
          </li>
          <li><abbr title="Pokémons&nbsp;vergelijken"><a href="/pokemon-vergelijken"><img src="/assets/nav-icons-black/vergelijken.png" alt=""></a></abbr>
          </li>
          <li><abbr title="Pokémons&nbsp;vangen"><a href="/pokemons-vangen"><img src="/assets/nav-icons-black/vangen.png" alt=""></a></abbr>
          </li>
          <li><abbr title="Huidige&nbsp;pokémon"><a href="/huidige-pokemon"><img src="/assets/nav-icons-black/huidige.png" alt=""></a></abbr>
          </li>
          <li><abbr title="Pokémon&nbsp;battler"><a href="/pokemon-battler"><img src="/assets/nav-icons-black/battler.png" alt=""></a></abbr>
          </li>
          <li><abbr title="Wie&nbsp;is&nbsp;deze&nbsp;pokémon?"><a href="/who's-that-pokemon"><img src="/assets/nav-icons-black/who.png" alt=""></a></abbr>
          </li>
          <li class="active"><abbr title="Pokémons&nbsp;tracker"><a href="/pokemon-finder"><img src="/assets/nav-icons-red/tracker.png" alt=""></a></abbr>
          </li>
        </ul>
      </section>
      <section class="right-container">
        <ul>
          <li class="hamMenu"><button class="btn btn-dark"><i class="fa-solid fa-bars"></i></button></li>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#chooseAvatar"><button>
                <% if (avatar) {%>
                <img src="<%= avatar %>" alt="my-avatar">
                <% } else { %>
                <i class="fa-solid fa-question"></i>
                <% } %>
              </button></a></li>
          <li><a href="/pokemon-auth/logout" class="fa-solid fa-right-from-bracket btn btn-dark"></a>
          </li>
        </ul>
      </section>
    </nav>
  </header>
  <main class="pokemon-finder">
    <section class="player"></section>
    <section id="joyDiv"></section>
  </main>
  <!-- Modal voor gevonden pokemon -->
  <section class="modal fade" id="pokemonFinder" tabindex="-1">
    <section class="modal-dialog modal-dialog-centered">
      <section class="modal-content">
        <section class="modal-header">
          <h5 class="modal-title">Je hebt <span id="randomPokemonName"></span> gevonden!</h5>
        </section>
        <section class="modal-body">
          <img id="randomPokemonImage" src="" alt="">
        </section>
        <section class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">
            <!--<i
                            class="fa-solid fa-person-running"></i>--><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
              <path fill="white" d="M5.4 20L4 18.6L13.6 9H11v2H9V7h5.825q.4 0 .775.15t.65.425l3 2.975q.675.675 1.65 1.05t2.1.4v2q-1.55 0-2.812-.475T17.95 12.1l-1-1.05l-2.2 2.2L17 15.5l-6.55 3.775l-1-1.725l4.3-2.475l-1.7-1.7zM3 13v-2h5v2zm-2-3V8h5v2zm18.475-2q-.825 0-1.425-.587T17.45 6q0-.825.6-1.412T19.475 4q.825 0 1.425.588T21.5 6q0 .825-.6 1.413T19.475 8M3 7V5h5v2z" />
            </svg>Vluchten
          </button>
          <a id="randomPokemonID" type="button" class="btn btn-danger" href=""><img src="/assets/box-gloves.png" alt="">Vechten</a>
        </section>
      </section>
    </section>
  </section>
  <!-- Modal voor avatar-->
    <section class="modal fade" id="chooseAvatar" tabindex="-1" aria-labelledby="chooseAvatar" aria-hidden="true">
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <section class="modal-header">
            <h1 class="modal-title fs-5" id="chooseAvatarLabel">Kies je nieuwe avatar</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </section>
          <section class="modal-body">
            <ul class="avatars">
              <li onclick="changeAvatar('ash')"><img src="/assets/avatars/ash_ketchum.png" alt="ash"></li>
              <li onclick="changeAvatar('chloe')"><img src="/assets/avatars/chloe.png" alt="chloe"></li>
              <li onclick="changeAvatar('dawn')"><img src="/assets/avatars/dawn.png" alt="dawn"></li>
              <li onclick="changeAvatar('james')"><img src="/assets/avatars/james.png" alt="james"></li>
              <li onclick="changeAvatar('jessie')"><img src="/assets/avatars/jessie.png" alt="jessie"></li>
              <li onclick="changeAvatar('may')"><img src="/assets/avatars/may.png" alt="may"></li>
              <li onclick="changeAvatar('serena')"><img src="/assets/avatars/serena.png" alt="serena"></li>
              <li onclick="changeAvatar('none')"><img src="/assets/avatars/none.png" alt="none"></li>
            </ul>
          </section>
        </section>
      </section>
    </section>
  <!-- Modal voor help-->
  <section class="modal fade" id="hulp" tabindex="-1" aria-labelledby="hulpLabel" aria-hidden="true">
    <section class="modal-dialog modal-dialog-centered">
      <section class="modal-content">
        <section class="modal-header">
          <h1 class="modal-title fs-5" id="hulpLabel">Hulp</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </section>
        <section class="modal-body">
          <p>Zoek naar een Pokémon door jouw speler met de pijltjestoetsen <i class="fa-regular fa-square-caret-up"></i>
            <i class="fa-regular fa-square-caret-right"></i> <i class="fa-regular fa-square-caret-down"></i>
            <i class="fa-regular fa-square-caret-left"></i>
            te bewegen. <br>
            Of als je een mobiel apparaat gebruikt, gebruik dan de joystick <span><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 24 24">
                <path fill="black" d="M11 8.275V7.85q-1.1-.325-1.8-1.237T8.5 4.5q0-1.45 1.025-2.475T12 1q1.45 0 2.475 1.025T15.5 4.5q0 1.2-.7 2.113T13 7.85v.425l8 4.6v4.25l-8 4.6Q12.525 22 12 22t-1-.275l-8-4.6v-4.25zM6.8 13l5.2 3l5.2-3l-4.2-2.425V14h-2v-3.425z" />
              </svg></span> die voor u klaar gemaakt is.
            <br> Wanneer je een Pokémon vindt, kan je ervoor kiezen om te vechten of te vluchten.
            <br><i class="fa-solid fa-volume-xmark"></i> ?<br>Indien u geen geluid hoort, gelieve de pagina te vernieuwen en eerst op het scherm te klikken. Veel plezier!
          </p>
        </section>
        <section class="modal-footer">
          <section class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="hideHelp">
            <label class="form-check-label" for="hideHelp">
              Niet meer tonen
            </label>
          </section>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Sluiten</button>
        </section>
      </section>
    </section>
  </section>
  <section data-bs-toggle="modal" data-bs-target="#hulp" class="help"><button><i class="fa-solid fa-question"></i></button></section>
</body>

</html>