<!DOCTYPE html>
<html lang="nl-BE">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/pokemonICO.ico" type="image/x-icon">
  <title>Pokémon Battler</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <!--SCRIPTS-->
  <script src="https://kit.fontawesome.com/cd8c9527e1.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script defer src="/scripts/general.js"></script>
  <script defer src="/scripts/battler.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body class="ingelogd battler">
  <header>
    <nav>
      <section class="left-container">
        <a href="/pokemon-submenu"><img src="/assets/pokemon_logo.png" alt="logo"></a>
      </section>
      <section id="nav-menus" class="nav-container">
        <ul class="">
          <li><abbr title="Pokémons&nbsp;bekijken"><a href="/pokemons-bekijken"><img src="/assets/nav-icons-black/bekijken.png" alt=""></a></abbr></li>
          <li><abbr title="Pokémons&nbsp;vergelijken"><a href="/pokemon-vergelijken"><img src="/assets/nav-icons-black/vergelijken.png" alt=""></a></abbr></li>
          <li><abbr title="Pokémons&nbsp;vangen"><a href="/pokemons-vangen"><img src="/assets/nav-icons-black/vangen.png" alt=""></a></abbr>
          </li>
          <li><abbr title="Huidige&nbsp;pokémon"><a href="/huidige-pokemon"><img src="/assets/nav-icons-black/huidige.png" alt=""></a></abbr>
          </li>
          <li class="active"><abbr title="Pokémon&nbsp;battler"><a href="/pokemon-battler"><img src="/assets/nav-icons-red/battler.png" alt=""></a></abbr></li>
          <li><abbr title="Wie&nbsp;is&nbsp;deze&nbsp;pokémon?"><a href="/who's-that-pokemon"><img src="/assets/nav-icons-black/who.png" alt=""></a></abbr>
          </li>
          <li><abbr title="Pokémons&nbsp;tracker"><a href="/pokemon-finder"><img src="/assets/nav-icons-black/tracker.png" alt=""></a></abbr>
          </li>
        </ul>
      </section>
      <section class="right-container">
        <ul>
          <li class="hamMenu"><button class="btn btn-dark"><i class="fa-solid fa-bars"></i></button></li>
          <li><a href="#" data-bs-toggle="modal" data-bs-target="#chooseAvatar"><button>
                <% if (avatar) {%>
                <img src="<%= avatar %>" alt="my-avatar">
                <% } else { %>
                <i class="fa-solid fa-question"></i>
                <% } %>
              </button></a></li>
          <li><a href="/pokemon-auth/logout" class="fa-solid fa-right-from-bracket btn btn-dark"></a>
          </li>
        </ul>
      </section>
    </nav>
  </header>
  <aside>
    <section class="d-flex justify-content-between align-items-center mb-2">
      <h1 class="modal-title fs-5" id="hulpLabel">Chat kamer</h1>
      <button type="button" class="btn-close chat-close" aria-label="Close"></button>
    </section>
    <section class="chat-container">
      <!-- Message from User 1 -->
      <div class="d-flex mb-3">
        <div class="chat-box bg-primary text-white p-2 rounded me-auto">
          <p class="mb-0">Hallo! Hoe gaat het?</p>
          <small class="d-block text-end">10:45 AM</small>
        </div>
      </div>
      <!-- Message from User 2 -->
      <div class="d-flex mb-3">
        <div class="chat-box bg-secondary text-white p-2 rounded ms-auto">
          <p class="mb-0">Hallo! Het gaat goed, en met jou?</p>
          <small class="d-block text-end">10:46 AM</small>
        </div>
      </div>
      <!-- Message from User 2 -->
      <div class="d-flex mb-3">
        <div class="chat-box bg-secondary text-white p-2 rounded ms-auto">
          <p class="mb-0">Hallo! Het gaat goed, en met jou?</p>
          <small class="d-block text-end">10:46 AM</small>
        </div>
      </div>
      <!-- Message from User 1 -->
      <div class="d-flex mb-3">
        <div class="chat-box bg-primary text-white p-2 rounded me-auto">
          <p class="mb-0">Hallo! Hoe gaat het?</p>
          <small class="d-block text-end">10:45 AM</small>
        </div>
      </div>
      <!-- Message from User 2 -->
      <div class="d-flex mb-3">
        <div class="chat-box bg-secondary text-white p-2 rounded ms-auto">
          <p class="mb-0">Hallo! Het gaat goed, en met jou?</p>
          <small class="d-block text-end">10:46 AM</small>
        </div>
      </div>
      <!-- Message from User 1 -->
      <div class="d-flex mb-3">
        <div class="chat-box bg-primary text-white p-2 rounded me-auto">
          <p class="mb-0">Hallo! Hoe gaat het?</p>
          <small class="d-block text-end">10:45 AM</small>
        </div>
      </div>
      <!-- Message from User 2 -->
      <div class="d-flex mb-3">
        <div class="chat-box bg-secondary text-white p-2 rounded ms-auto">
          <p class="mb-0">Hallo! Het gaat goed, en met jou?</p>
          <small class="d-block text-end">10:46 AM</small>
        </div>
      </div>
      <!-- Message from User 1 -->
      <div class="d-flex mb-3">
        <div class="chat-box bg-primary text-white p-2 rounded me-auto">
          <p class="mb-0">Hallo! Hoe gaat het?</p>
          <small class="d-block text-end">10:45 AM</small>
        </div>
      </div>
      <!-- Message from User 2 -->
      <div class="d-flex mb-3">
        <div class="chat-box bg-secondary text-white p-2 rounded ms-auto">
          <p class="mb-0">Hallo! Het gaat goed, en met jou?</p>
          <small class="d-block text-end">10:46 AM</small>
        </div>
      </div>
      <!-- Message from User 1 -->
      <div class="d-flex mb-3">
        <div class="chat-box bg-primary text-white p-2 rounded me-auto">
          <p class="mb-0">Hallo! Hoe gaat het?</p>
          <small class="d-block text-end">10:45 AM</small>
        </div>
      </div>
      <!-- Message from User 1 -->
      <div class="d-flex mb-3">
        <div class="chat-box bg-primary text-white p-2 rounded me-auto">
          <p class="mb-0">Hallo! Hoe gaat het?</p>
          <small class="d-block text-end">10:45 AM</small>
        </div>
      </div>
      <!-- Message from User 1 -->
      <div class="d-flex mb-3">
        <div class="chat-box bg-primary text-white p-2 rounded me-auto">
          <p class="mb-0">Hallo! Hoe gaat het?</p>
          <small class="d-block text-end">10:45 AM</small>
        </div>
      </div>
    </section>
    <section class="emoji-picker-container d-flex justify-content-between align-items-center mt-2 gap-2">
      <input type="text" class="form-control" id="chatInput" placeholder="Typ een bericht...">
      <button class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i></button>
    </section>
  </aside>
  <main>
    <section><i class="fa-solid fa-comments"></i></section>
    <section class="battlefield">
      <article>
      </article>
      <article>
        <section id='player2Progress' class="progress" role="progressbar" aria-label="Animated striped example" aria-valuemin="0" aria-valuemax="100" style="background-color: grey;">
          <section class="progress-bar progress-bar-striped progress-bar-animated bg-danger overflow-visible text-dark" style="width: 100%;">
          </section>
          <p>&hearts;&nbsp;HP&nbsp;</p>
        </section>
        <section class="pokemon-damage">
          <img id='player2' src="" alt="">
          <img src="/assets/damage.gif" alt="">
        </section>
      </article>
      <article>
        <section class="pokemon-damage">
          <img id='player1' src="" alt="">
          <img src="/assets/damage.gif" alt="">
        </section>
        <section id='player1Progress' class="progress" role="progressbar" aria-label="Animated striped example" aria-valuemin="0" aria-valuemax="100" style="background-color: grey;">
          <section class="progress-bar progress-bar-striped progress-bar-animated bg-primary overflow-visible text-dark" style="width: 100%;">
          </section>
          <p>&hearts;&nbsp;HP&nbsp;</p>
        </section>
      </article>
      <article>
        <ul class="aanvallen">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </article>
    </section>
    <!-- Modal voor help-->
    <section class="modal fade" id="hulp" tabindex="-1" aria-labelledby="hulpLabel" aria-hidden="true">
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <section class="modal-header">
            <h1 class="modal-title fs-5" id="hulpLabel">Hulp</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </section>
          <section class="modal-body">
            Hier kunt u uw Pokémons tegen elkaar laten vechten. <br> Indien u nog geen Pokémon heeft
            gekozen, moet u dat eerst doen op de pagina <a href="/huidige-pokemon">huidige-pokemon</a>.
            Kies één aanvalstechniek van de 4 en kijk wie er wint!
          </section>
        </section>
      </section>
    </section>
    <!-- Modal voor avatar-->
    <section class="modal fade" id="chooseAvatar" tabindex="-1" aria-labelledby="chooseAvatar" aria-hidden="true">
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <section class="modal-header">
            <h1 class="modal-title fs-5" id="chooseAvatarLabel">Kies je nieuwe avatar</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </section>
          <section class="modal-body">
            <ul class="avatars">
              <li onclick="changeAvatar('ash')"><img src="/assets/avatars/ash_ketchum.png" alt="ash"></li>
              <li onclick="changeAvatar('chloe')"><img src="/assets/avatars/chloe.png" alt="chloe"></li>
              <li onclick="changeAvatar('dawn')"><img src="/assets/avatars/dawn.png" alt="dawn"></li>
              <li onclick="changeAvatar('james')"><img src="/assets/avatars/james.png" alt="james"></li>
              <li onclick="changeAvatar('jessie')"><img src="/assets/avatars/jessie.png" alt="jessie"></li>
              <li onclick="changeAvatar('may')"><img src="/assets/avatars/may.png" alt="may"></li>
              <li onclick="changeAvatar('serena')"><img src="/assets/avatars/serena.png" alt="serena"></li>
              <li onclick="changeAvatar('none')"><img src="/assets/avatars/none.png" alt="none"></li>
            </ul>
          </section>
        </section>
      </section>
    </section>
    <!-- Modal voor keuze van gevecht -->
    <section class="modal fade" id="battleChoice" tabindex="-1">
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <section class="modal-header">
            <h5 class="modal-title">Kies een optie</h5>
          </section>
          <section class="modal-footer">
            Spelen met:
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pvpfriend">
              <i class="fa-solid fa-user-group"> Vriend</i>
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pvpstranger">
              <i class="fa-solid fa-globe"> Willekeurig</i>&nbsp;| &nbsp;<i class="fa-solid fa-user-group" id="players"></i>
            </button>
            <a href="/pokemon-submenu">Terug gaan</a>
          </section>
        </section>
      </section>
    </section>
    <!-- Modal voor pvp met vriend -->
    <section class="modal fade" id="pvpfriend" tabindex="-1">
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <section class="modal-header">
            <h5 class="modal-title">Speel met een vriend</h5>
          </section>
          <section class="modal-footer">
            Kopieer de link en stuur deze naar je vriend:
            <small>Uw link is gekopieerd</small>
            <section class="input-group" mb-3 id="linkInputgroup">
              <input type="text" readonly class="form-control" id="linkInput" value="<%= fullURL %>">
              <span class="input-group-text"><button><i class="fa-solid fa-copy"></i></button></span>
            </section>
            <p>Ga naar je speelkamer en wacht voor je tegenstander...</p>
            <a id='joinroom' style='display: none;' href="" class='btn btn-primary'>Ga naar je speelkamer</a>
            <a href="/pokemon-battler">Terug gaan</a>
          </section>
        </section>
      </section>
    </section>
    <!-- Modal voor pvp met online tegenstander -->
    <section class="modal fade" id="waitforfriend" tabindex="-1">
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <section class="modal-header">
            <h5 class="modal-title">Speel met je vriend</h5>
          </section>
          <section class="modal-footer">
            Wacht voor je tegenstander.
            <section>
              <img src="/assets/others/loading.gif" alt="">
            </section>
            <a href="/pokemon-battler">Terug gaan</a>
          </section>
        </section>
      </section>
    </section>
    <!-- Modal voor pvp met online tegenstander -->
    <section class="modal fade" id="pvpstranger" tabindex="-1">
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <section class="modal-header">
            <h5 class="modal-title">Speel met een tegenstander</h5>
          </section>
          <section class="modal-footer">
            Wacht voor een online tegenstander.
            <section>
              <img src="/assets/others/loading.gif" alt="">
            </section>
            <a href="/pokemon-battler">Terug gaan</a>
          </section>
        </section>
      </section>
    </section>
    <!-- Modal voor gewonnen -->
    <section class="modal fade" id="won" tabindex="-1">
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <section class="modal-header">
            <h5 class="modal-title">Gewonnen</h5>
          </section>
          <section class="modal-footer">
            Proficiat! U heeft gewonnen.
            <section>
              <img src="/assets/pikachu_bye.gif" alt="">
            </section>
            Je wordt zodadelijk teruggebracht naar de hoofdpagina.
          </section>
        </section>
      </section>
    </section>
    <!-- Modal voor verloren -->
    <section class="modal fade" id="lost" tabindex="-1">
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <section class="modal-header">
            <h5 class="modal-title">Verloren</h5>
          </section>
          <section class="modal-footer">
            Jammer! U heeft verloren.
            <section>
              <img src="/assets/pikachu_bye.gif" alt="">
            </section>
            Je wordt zodadelijk teruggebracht naar de hoofdpagina.
          </section>
        </section>
      </section>
    </section>
    <section data-bs-toggle="modal" data-bs-target="#hulp" class="help"><button><i class="fa-solid fa-question"></i></button></section>
  </main>
</body>

</html>