<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/pokemonICO.ico" type="image/x-icon">
    <title>Pokémon vangen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/style.css">
    <!--SCRIPTS-->
    <script src="https://kit.fontawesome.com/cd8c9527e1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script defer src="../scripts/general.js"></script>
    <script defer src="../scripts/currentpokemon.js"></script>
    <script defer src="../scripts/vangen.js"></script>
</head>

<body class="ingelogd">
    <header>
        <nav>
            <section class="left-container">
                <a href="pokemon-submenu"><img src="../assets/pokemon_logo.png" alt="logo"></a>
            </section>
            <section id="nav-menus" class="nav-container">
                <ul class="">
                    <li><a href="./pokemons-bekijken"><img src="../assets/nav-icons-black/bekijken.png"
                                alt=""></a></a></li>
                    <li><a href="./pokemon-vergelijken"><img src="../assets/nav-icons-black/vergelijken.png"
                                alt=""></a></li>
                    <li class="active"><a href="./pokemons-vangen"><img src="../assets/nav-icons-red/vangen.png"
                                alt=""></a></li>
                    <li><a href="./huidige-pokemon"><img src="../assets/nav-icons-black/huidige.png" alt=""></a>
                    </li>
                    <li><a href="./pokemon-battler"><img src="../assets/nav-icons-black/battler.png" alt=""></a>
                    </li>
                    <li><a href="./who's-that-pokemon"><img src="../assets/nav-icons-black/who.png" alt=""></a>
                    </li>
                    <li><a href="./pokemon-finder"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </li>
                </ul>
            </section>
            <section class="right-container">
                <ul>
                    <li class="hamMenu"><button class="btn btn-dark"><i class="fa-solid fa-bars"></i></button></li>
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#chooseAvatar"><button>
                        <i class="fa-solid fa-question"></i>
                    </button></a></li>
                    <li><a href="/pokemon-auth"
                            class="fa-solid fa-right-from-bracket btn btn-dark"></a>
                    </li>
                </ul>
            </section>
        </nav>
    </header>
    <main>
        <a href="pokemon-battler-vs-pc"><img class="boxing-gloves" src="../assets/box-gloves.png"
                alt=""></a>
        <section class="pokemon_hide">
            <img src="../assets/pokemon_logo.png" alt="">
            <img src="../assets/pokeball_opening.gif" alt="">
        </section>
        <section class="current-pokemon">
            <a href="huidige-pokemon">
                <img class="pokemon-pic"
                    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/6.gif"
                    alt="my-pokemon">
            </a>
            <img class="pokemon_podioum" src="../assets/podium.png" alt="pokemon-podium">
            <section class="pokemon-stats">
                <section class="pokemon-hp">
                    <img id="life" src="../assets/red-heart.png" alt="leven">
                    <p>78</p>
                </section>
                |
                <section class="pokemon-shield">
                    <img id="shield" src="../assets/shield.png" alt="verdediging">
                    <p>78</p>
                </section>
            </section>
        </section>
        <div id="countdown-container"> <!--zandloper-->
            <p id="countdown"></p>
            <img id="hourglass" src="../assets/hourglass.gif" alt="Hourglass Image">
        </div>
        <section class="poke-catch">
            <article>
                <p id="poke-title"></p>
            </article>
            <article><a class="poke-catch-container" href="pokemon-battler-vs-pc"><img class="poke-catch-img hover-animation"
                    src=""
                    alt=""></a></article>
            <article><a data-bs-target="#loslaten" data-bs-toggle="modal" href="#"><img class="poke-catch-ball"
                        src="../assets/pokemon_logo.png"></a></article>
        </section>

        <!-- Modal voor help-->
        <section class="modal fade" id="hulp" tabindex="-1" aria-labelledby="hulpLabel" aria-hidden="true">
            <section class="modal-dialog modal-dialog-centered">
                <section class="modal-content">
                    <section class="modal-header">
                        <h1 class="modal-title fs-5" id="hulpLabel">Hulp</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </section>
                    <section class="modal-body">
                        Op deze pagina krijgt u een willekeurige Pokémon te zien door op de Pokébal te drukken. <br>
                        Als de rand van de pokébal <span style="color: green; font-weight:bolder;">groen</span> is, kunt
                        u deze pokemon vangen. <br>
                        Als de rand van de Pokébal <span style="color: red; font-weight:bolder;">rood</span> is,
                        betekent dit dat u de Pokémon niet kunt vangen en een keuze moet maken om deze vrij te laten of
                        niet. <br>
                    </section>
                </section>
            </section>
        </section>
        <!-- Modal voor keuze-->
        <section class="modal fade" id="loslaten" tabindex="-1" aria-labelledby="loslatenLabel" aria-hidden="true">
            <section class="modal-dialog modal-dialog-centered">
                <section class="modal-content">
                    <section class="modal-header">
                        <h1 class="modal-title fs-5" id="loslatenLabel">Wil je die loslaten?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </section>
                    <section class="modal-body bg-dark">
                        <section class="d-grid gap-2 mb-2">
                            <button data-bs-dismiss="modal" class="btn btn-success" type="button">Ja</button>
                            <button data-bs-dismiss="modal" class="btn btn-danger" type="button">Nee</button>
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <!-- Modal voor avatar-->
        <section class="modal fade" id="chooseAvatar" tabindex="-1" aria-labelledby="chooseAvatar" aria-hidden="true">
            <section class="modal-dialog modal-dialog-centered">
                <section class="modal-content">
                    <section class="modal-header">
                        <h1 class="modal-title fs-5" id="chooseAvatarLabel">Kies je nieuwe avatar</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </section>
                    <section class="modal-body">
                        <ul class="avatars">
                            <li><img src="../assets/avatars/ash_ketchum.png" alt=""></li>
                            <li><img src="../assets/avatars/chloe.png" alt=""></li>
                            <li><img src="../assets/avatars/dawn.png" alt=""></li>
                            <li><img src="../assets/avatars/james.png" alt=""></li>
                            <li><img src="../assets/avatars/jessie.png" alt=""></li>
                            <li><img src="../assets/avatars/may.png" alt=""></li>
                            <li><img src="../assets/avatars/serena.png" alt=""></li>
                        </ul>
                    </section>
                </section>
            </section>
        </section>
        <section data-bs-toggle="modal" data-bs-target="#hulp" class="help"><button><i
                    class="fa-solid fa-question"></i></button></section>
    </main>
</body>

</html>