/* Animation */

@keyframes move {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes denied {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: red;
    }

    100% {
        background-color: transparent;
    }
}

@keyframes damage {
    0% {
        filter: grayscale(0) brightness(100%);
        transform: scale(1);
    }

    25% {
        filter: grayscale(50%) brightness(90%);
        transform: scale(0.95);
    }

    50% {
        filter: grayscale(70%) brightness(20%) sepia(100%);
        transform: scale(0.90);
    }

    75% {
        filter: grayscale(80%) brightness(70%);
        transform: scale(0.95);
    }

    100% {
        filter: grayscale(100%) brightness(50%);
        transform: scale(1);
    }
}

@keyframes scaleIn {

    /* scale in from top center to middle center */
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scaleOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes boxing {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes walk {

    0%,
    32% {
        background-position: 0 0;
    }

    33%,
    65% {
        background-position: -60px 0;
    }

    66%,
    100% {
        background-position: -120px 0;
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100%);

    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

/* 360* spin */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* vang animatie */

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes catch {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-300deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* animation for the shake effect with a delay of 30 seconds */
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-5px);
    }

    20% {
        transform: translateX(5px);
    }

    30% {
        transform: translateX(-5px);
    }

    40% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}