@media (max-width: 1100px) {
/* .pokemonToGuess {
        height: 55vh;
        width: 40vh;
        margin-top: 8rem;
    }

    .silhouette {
        width: 45%;
    }

    #inputWho {
        padding: 10px;
        font-size: 11px;
        width: 200px;
        padding-top: 8px;
        padding: 8px;
    }

    .pokemonToGuess .fa-angles-right {
        font-size: 1rem;
        padding: 0.5rem;
    }

    #cardTitle {
        font-size: 20px;
        margin-bottom: 0;
    }

    #dontKnow {
        padding: 5px 10px;
        font-size: 1rem;
        width: 150px;
    }
*/
    .ingelogd .pokemon-bekijken-main {
        grid-template-rows: 10dvh 72dvh auto;
    }

    .ingelogd.pokemon-bekijken {
        grid-template-columns: 1.7fr 4fr;
    }

    #poke-bg main.pokesubmenu {
        padding: 1rem;
    }

    #poke-bg section.submenu{
        width: 100%;
    }

    #poke-bg button.submenu-button section {
        width: 100%;
    }

    #poke-bg button.submenu-button:hover{
        transform: scale(1.02);
    }
}

@media (max-width: 950px) {
    .boxing-gloves {
        width: 15%;
        right: 1rem;
    }

    .denied button {
        display: block;
    }

    .denied button>img:nth-child(2) {
        display: none;
        visibility: hidden;
    }

    .denied:hover {
        animation: denied 2s infinite;
    }
}

@media (max-width: 800px) {
    .poke-catch {
        flex-direction: column-reverse;
        justify-content: space-around;
    }
}

@media (max-width: 768px) {
    .ingelogd .poke-catch article:nth-child(1) p {
        font-size: 2rem;
    }

    .ingelogd .poke-catch-img {
        width: 10rem;
    }

    .ingelogd .boxing-gloves {
        width: 15%;
        right: 1rem;
        top: 15rem;
    }

    .roulette-box {
        width: 7.8125rem;
        /* helft van 15.625rem */
        height: 7.8125rem;
        /* helft van 15.625rem */
        border-width: 0.25rem;
        /* halveer de dikte van de rand */
    }

    .roulette-box li {
        width: 3.125rem;
        /* helft van 6.25rem */
        left: 2.109375rem;
        /* helft van 4.21875rem */
    }
}

@media (max-width: 710px) {
    .projects ul li {
        width: 350px;
        height: 150px;
    }

    .ingelogd {
        background-position: right;
    }

    .ingelogd .hamMenu {
        display: block;
    }

    .ingelogd header nav {
        border-radius: 40px 0 0 40px;
    }


    .nav-container ul.active {
        visibility: visible;
        position: fixed;
        padding: 4rem 0.45rem 5rem 0.45rem;
        right: 0%;
        top: 0%;
        bottom: 0%;
        cursor: pointer;
        transition: .2s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: #fcba03;
        gap: 2rem;
        z-index: 1;
    }

    .nav-container ul {
        transition: 3s ease-in-out;
        position: fixed;
        right: -140%;
        top: 0%;
        bottom: 0%;
        display: flex;
        flex-direction: column;
    }

    .current-pokemon {
        right: 10px;
    }

    .current-pokemon .pokemon-pic {
        width: 80px;
        height: 70px;
    }

    .current-pokemon img:nth-child(2) {
        width: 80px;
    }

    .pokemon-hp img,
    .pokemon-shield img {
        width: 10px;
        height: 10px;
    }

    .pokemon-hp p,
    .pokemon-shield p {
        font-size: 0.8rem;
    }

    .battler {
        background-image: url("../assets/mobiel_battler.png");
    }

    .battlefield article:nth-child(2) img {
        margin-top: 0;
    }

    .battlefield article:nth-child(2) {
        justify-content: start;
    }

    .battlefield article:nth-child(3) {
        justify-content: start;
    }

    .aanvallen {
        justify-content: end;
        margin-right: 1rem;
    }
}

@media (max-width: 475px) {
    aside.active {
        position: fixed;
        top: 180px;
    }

    .aanvallen li {
        font-size: 0.7rem;
    }

    .aanvallen {
        justify-content: center;
        align-self: center;
        margin-top: 0;
    }
}

@media (max-width: 400px) {
    .projects ul li {
        width: 300px;
        height: 150px;
    }

    aside.active {
        position: fixed;
        top: 100px;
    }

    .fa-filter {
        top: 100px;
    }

    .poke-catch article:nth-child(1) p {
        font-size: 2rem;
    }

    .poke-catch article:first-child {
        margin-top: 0;
      }
}

@media (min-width: 300px) and (max-width: 710px) {

    .ingelogd {
        background-position: right;
    }

    .ingelogd .battlefield .progress,
    .ingelogd .progress-bar {
        height: 20px;
        width: 75%;
        font-size: 1rem;
    }

    .ingelogd .pv_project {
        display: flex;
        justify-content: space-evenly;
    }

    .ingelogd .pv_project input {
        width: fit-content;
    }

    .ingelogd .left_pokemon,
    .ingelogd .right_pokemon {
        font-weight: bold;
        justify-content: start;
    }

    .ingelogd .left_pokemon img,
    .ingelogd .right_pokemon img {
        margin: 2rem 0 0rem 0;
        width: 110px;
        height: 100px;
    }

    .ingelogd .left_pokemon input,
    .ingelogd .right_pokemon input {
        width: 2rem;
        padding: 0rem;
        border: black 1px solid;
        border-left: #000 1px solid;
        border-radius: 0.7rem;
        text-align: center;
        font-family: "Anta", sans-serif;
        font-size: .7rem;
    }

    .ingelogd .left_pokemon span,
    .ingelogd .right_pokemon span {
        padding: 0.2rem;
    }

    .ingelogd .pv_stats {
        display: flex;
        font-size: 0.8rem;
    }

    .ingelogd .pv_stats li {
        padding: 0.4rem;
        width: 8rem;
        margin-top: 0.5rem;
    }

    .ingelogd .pv_stats li:nth-child(2) {
        width: 5rem;
    }

    .ingelogd .middle_stats {
        display: flex;
        margin-top: 16.5rem;
    }

    .pv_project article:nth-child(2) {
        margin-top: 10rem;
    }

    .ingelogd .comparison {
        padding: 0;
    }

    .ingelogd .comparison li {
        margin-top: 2.9rem;
        margin-bottom: 1rem;
        color: #22ee0b;
        text-shadow: #000000 2px 2px 2px;
        font-size: 1.1rem;
    }

    .ingelogd .progress {
        width: 7rem;
    }

    .ingelogd .battlefield article:nth-child(3) {
        justify-content: start;
    }

    .ingelogd {
        height: 80vh;
        width: 90vw;
        margin-top: 1rem;
    }

    .ingelogd #vergelijken-HP-icon{
        width: 20px;
        height: auto;
        margin: auto;
      }
      
      .ingelogd #vergelijken-aanval-icon{
        width: 25px;
        height: auto;
        margin: auto;
      }
      
      .ingelogd #vergelijken-defence-icon{
        width: 20px;
        height: auto;
        margin: auto;
      }
      
/*
    .pokemonToGuess {
        height: 80vh;
        width: 90vw;
        margin-top: 1rem;
    }

    .pokemonToGuess #cardTitle {
        margin-top: 3.5rem;
        font-size: 1.1rem;
    }

    .pokemonToGuess img {
        width: 150px;
    }

    .pokemonToGuess input {
        width: 150px;
    }
*/
    .pokemon-levels ul {
        width: 300px;
    }

    .landing-main .projects {
        width: 90vw;
    }

    .landing-main .projects ul li,
    .landing-main .projects .denied {
        width: 300px;
        height: 150px;
    }

    .landing-main .denied button>img:nth-child(1) {
        width: 100%;
        height: 118px;
    }

    .right-container ul {
        padding: 0;
    }

    .ingelogd .avatars li img {
        width: 100px;
        height: 100px;
    }

    .ingelogd .pokemon-bekijken-main {
        grid-template-rows: 13dvh 70dvh auto;
    }

    #detailLabel {
        font-size: 1rem;
    }

    .pokemon-bekijken .modal-body>img:nth-child(1) {
        width: fit-content;
        height: 100%;
    }

    .ingelogd .pokemon-bekijken-main .title h1 {
        font-size: 1.5rem;
    }

    .ingelogd .pokemon-bekijken-main .title section,
    .ingelogd .pokemon-bekijken-main .title section select {
        font-size: .7rem;
    }

    .ingelogd #nav-menus ul li.active {
        border: none;
        border-left: 7px solid var(--nav-link-border);

    }

    section.pokemon-list ul{
        gap: 1rem;
    }

    main.pokemon-bekijken-main section.pokemon-list ul li{
        width: 100px;
    }
/*
    .pokemonToGuess #inputWho,
    .pokemonToGuess a.result {
        width: 290px;
    }

*/

    #poke-bg main.pokesubmenu {
        padding: 1rem;
    }

    

    #poke-bg button.submenu-button section img {
        width: 30px;
    }

    #poke-bg button.submenu-button span{
        font-size: 1.5rem;
    }

    body.ingelogd abbr::after {
        display: none;
    }
}

@media (max-height: 900px) {
    .ingelogd .poke-catch-buttons {
        flex-direction: row;
    }

    .ingelogd .poke-catch-buttons a {
        margin: 0;
    }

    .ingelogd .pokemon-bekijken-main .pokemon-list ul li:hover {
        transform: scale(1.05);
        transition: .3s;
    }

}

@media (max-height: 900px) {
    .poke-catch-buttons {
        flex-direction: row;
    }
    .ingelogd .poke-catch article:nth-child(2) {
        margin: 0;
    }
}

@media (max-height: 520px) {
    .pokemonToGuess .container {
        width: 10rem;
        height: 10rem;
      }

      #cardTitle {
        font-size: 20px;
      }

      #inputWho {
        font-size: 12px;
      }

      .pokemonToGuess .result {
        font-size: 20px;
      }

      #hint {
        top: 40%;
      }

      .pokemonToGuess .fa-angles-right {
        /*! font-size: 2rem; */
      }

      .pokemonToGuess #timer {
        top: 41%;
      }


}