:root {
    --orange : #fcba03;
    --blue : #0075BE;
    --green : #00ff00;
    --lime-green : #22ee0b;
    --black : #000;
    --white : #fff;
    --avatar-border-color : #286078;
    --nav-link-border : #af2215;
    --red : #ff0000;
    --pokemonToGuess-bg : #f3f2b3;
    --pokeBall-color : #7cfc00;
    --body-bg : #f7f7afb2;
    --test : rgb()
}