/* Import van fonts */
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

body {
  background-color: rgba(247, 247, 175, 0.699);
  width: 100%;
  height: 100dvh;
  font-family: 'Anta', sans-serif;
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
  color: #fff;
}

main {
  grid-area: main;
}

.pokemon-bekijken-main>h1 {
  grid-area: title;
}

.pokemon-bekijken-main>.pokemon-list {
  grid-area: pokemon-list;
}

.pokemon-bekijken-main>.list-nav {
  grid-area: list-nav;
}

.pokemon-bekijken-main {
  grid-area: main;
  display: grid;
  grid-template-areas: "title" "pokemon-list" "list-nav";
  grid-template-rows: 20dvh 58dvh 10dvh;
}


.pokemon-bekijken {
  display: grid;
  grid-template-areas: "header header" "aside main";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 4fr;
}

.current-pokemon {
  padding: .5rem;
  border-radius: 100%;
  max-width: fit-content;
  max-height: fit-content;
  position: fixed;
  right: 15px;
  top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-pokemon .pokemon-pic {
  width: 100px;
  height: 90px;
  animation: infinite 2s ease-in-out;
  animation-name: move;
  animation-duration: 2s;
}

.current-pokemon img:nth-child(2) {
  width: 100px;
}

.pokemon-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: .3rem;

}

.pokemon-stats .pokemon-hp,
.pokemon-stats .pokemon-shield {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .2rem;
}

.pokemon-stats .pokemon-shield {
  flex-direction: row-reverse;
}

.pokemon-hp img,
.pokemon-shield img {
  width: 20px;
  height: 20px;
}

.pokemon-hp p,
.pokemon-shield p {
  margin: 0;
}

.fa-eye-slash {
  cursor: pointer;
}

.fa-filter {
  cursor: pointer;
  padding: .7rem;
  font-size: 1.5rem;
  background-color: #fcba03;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  position: fixed;
  left: 20px;
  top: 160px;
}

.help {
  position: fixed;
  right: 15px;
  bottom: 15px;
}

.help i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  background-color: #fcba03;
  border-radius: 100%;
  transition: 0.5s;
  height: 50px;
  width: 50px;
  transition: 0.5s ease-in-out;
  font-size: 2rem;
}

.help i:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

nav p {
  text-align: center;
  font-size: 2rem;
  padding: 0.7rem;
  background-color: rgb(139, 138, 218);
}

.landing-main {
  text-align: center;
  font-size: 1.7rem;
  font-family: "Anta", sans-serif;
}

.projects {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 600px));
  gap: 1rem;
  padding: 0;
  margin: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.projects ul li {
  padding: 1rem;
  border-radius: 30px;
  width: 400px;
  height: 200px;
  transition: 0.5s;
  margin: auto;
}

.projects ul li a {
  color: black;
  border-radius: 30px;
  cursor: pointer;
}

.projects ul li:nth-child(1):hover {
  transform: scale(1.1);
  transition: 1s;
}

.denied button {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  place-content: center;
}

.denied button>img:nth-child(1) {
  cursor: pointer;
  grid-area: 1/1;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 180px;
}

.denied button>img:nth-child(2) {
  display: none;
  width: 150px;
  height: 110px;
  grid-area: 1/1;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
}

.denied button:hover>img:nth-child(2) {
  display: block;
}

.projects ul li button {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  cursor: pointer;
}

.projects ul li img {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 30px;
  border: 8px solid rgb(139, 138, 218);
  box-shadow: 0 0 10px black;
  transition: 1s;
  cursor: pointer;
}

#poke-bg {
  background-image: url("../assets/pokemon_blue_bg.png");
  background-size: cover;
  background-position: center;
}

.ingelogd header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcba03;
  padding: 0.2rem 0.7rem;
  border-radius: 30px;
}

.left-container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 52px;
}

.left-container img {
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.left-container img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.left-container p {
  font-size: 1.5rem;
  font-family: "Anta", sans-serif;
  padding: 0.5rem;
  background-color: transparent;
}

#nav-menus {
  width: 80%;
  margin: 0 2rem;
}

#nav-menus ul li.active {
  border-bottom: 7px solid #af2215;
}

.nav-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  gap: 3rem;
  padding: 0;

}

.nav-container ul li:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

.nav-container ul li img {
  /*width: 40px;
  height: 40px;
  ik heb de groottes afgezet omdat de images al de juiste dimensie hebben*/
  cursor: pointer;
  transition: 0.5s;
}

.right-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  gap: 10px;
}

.right-container ul li:nth-child(1) button {
  border-radius: 10px;
  color: white;
  background-color: #000;
  cursor: pointer;
}

.right-container ul li:nth-child(2) button {
  padding: 0.5rem;
  width: 40px;
  border-radius: 100%;
  color: white;
  background-color: #000;
  cursor: pointer;
  text-align: center;
}

.modal-content {
  background-color: #fcba03;
}

.hamMenu {
  display: none;
}


nav * {
  z-index: 2;
}

.pv_project {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.pv_project input {
  width: fit-content;
}

.left_pokemon,
.right_pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left_pokemon img,
.right_pokemon img {
  margin: 2rem 0 2rem 0;
  width: 300px;
  height: 250px;
}

.left_pokemon input,
.right_pokemon input {
  width: 10rem;
  padding: 0.5rem;
  border: black 1px solid;
  border-left: #000 1px solid;
  border-radius: 0.7rem;
  text-align: center;
  font-family: "Anta", sans-serif;
}

.left_pokemon .input-group-text,
.right_pokemon .input-group-text {
  display: flex;
  justify-content: center;
}

.pv_stats {
  display: flex;
}

.pv_stats li {
  padding: 0.5rem;
  width: 8rem;
  margin-top: 2rem;
}

.pv_stats li:nth-child(2) {
  width: 5rem;
}

.visual_percentage {
  padding: 0.5rem;
  border-radius: 6rem;
  border: 1px solid black;
}

.left_pokemon span,
.right_pokemon span {
  border: #000 1px solid;
}

.left_pokemon .visual_percentage.first {
  background-color: #1cfc03;
  width: 78%;
}

.left_pokemon .visual_percentage.second {
  width: 84%;
  background-color: #1cfc03;
}

.left_pokemon .visual_percentage.third {
  width: 78%;
  background-color: #1cfc03;
}

.right_pokemon .visual_percentage.first {
  background-color: #fc9d03;
  width: 45%;
}

.right_pokemon .visual_percentage.second {
  background-color: #fc9d03;
  width: 49%;
}

.right_pokemon .visual_percentage.third {
  background-color: #fc9d03;
  width: 49%;
}

.middle_stats {
  display: flex;
  margin-top: 23.7rem;

}

.comparison li {
  margin-top: 4rem;
  margin-bottom: 1.8rem;
  color: #22ee0b;
  text-shadow: #000000 2px 2px 2px;
  font-size: 1.4rem;
}

.progress {
  width: 11rem;
}


.submenu {
  margin: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.submenu-button {
  margin: 10px;
  border-radius: 10px;
}

.submenu-button img {
  width: 40rem;
  border-radius: 20px;
}

.submenu-button {
  transition: transform 0.3s ease-in-out;
  /* Add transition for smooth animation */
}

.submenu-button:hover {
  transform: scale(1.1);
  /* Scale the button slightly on hover */
}

.submenu>li {
  list-style: none;
  margin: 0;
}

.submenu>li>a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  background-color: #fcba03;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
  padding: .8rem;
}

.submenu>li>a:visited {
  color: black;

}

.submenu>li>a>p {
  margin: auto 0;
  color: #000;
  font-size: 1.5rem;
}

.submenu>li>a>img {
  width: 60px;
}

.pokemon-bekijken>aside {
  background-color: #0075BE;
  border-radius: 30px;
  padding: 1rem;
  transition: 0.5s;
  flex-direction: column;
  display: none;
  z-index: 5;
}

.pokemon-bekijken>aside.active {
  display: flex;
  animation: slide-in 0.6s ease-in-out;
}

.form-select {
  font-size: 1.1rem;
}

.pokemon-bekijken>aside>button:nth-child(1) {
  margin: 0 0 0 auto;
}

.pokemon-bekijken>aside>h2 {
  font-size: 1rem;
  text-align: center;
  margin: 2rem auto;
}

.pokemon-bekijken>main>h1 {
  font-size: 1.5rem;
  margin: .5rem auto 0 1.5rem;
}

.pokemon-bekijken>main {
  width: 100%;
  height: 100%;
}

.pokemon-list {
  display: flex;
  overflow-y: scroll;
}

.pokemon-list>ul {
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  /* of flex-start */
  align-items: center;
  align-content: flex-start;
  height: 100%;
}

.pokemon-list>ul>li {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100px;
  height: 130px;
  box-shadow: 0 0 15px black;
  border-radius: 10px;
  transition: 0.5s;
}

.pokemon-list>ul>li:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.pokemon-list>ul>li p {
  margin: 0;
}

.list-nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  z-index: 4;
}

.list-nav button {
  border-radius: 15px;
  background-color: #fcba03;
  cursor: pointer;
  padding: 0.5rem;
  width: 115px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.list-nav button:nth-child(1) {
  justify-content: start;
}

.list-nav button:nth-child(2) {
  justify-content: end;
}

#detail .modal-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

#detail .modal-body>img {
  margin: 0 auto 0 auto;
  width: 30%;
}

#detail .modal-body>div {
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 1rem;
  height: 210px;
}

#detail .modal-body>div>section>h3 {
  font-size: 1rem;
  margin: 0;
  text-align: center;
}

.pokemon-levels ul {
  display: flex;
  height: 150px;
  width: 300px;
  padding: 0;
  justify-content: start;
  align-items: end;
  gap: 1rem;
  overflow-x: scroll;
}

.pokemon-levels ul li p {
  margin: 0;
}

.battler {
  background-image: url("../assets/pokemon_forest.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100dvh;
}

.battlefield {
  display: flex;
  flex-wrap: wrap;
  height: 91svh;
}

.battlefield img {
  width: 9rem;
  height: 10rem;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.battlefield article {
  width: 50%;
  display: flex;
  justify-content: center;
}

.battlefield article:nth-child(2) {
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
}

.battlefield article:nth-child(2) img {
  animation: damage 1s;
}

.battlefield article:nth-child(3) img {
  animation: damage 1s;
  animation-delay: 3s;
}

.battlefield article:nth-child(3) {
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
}

.battlefield .progress,
.progress-bar {
  height: 30px;
  width: 25%;
  font-size: 1.5rem;
  font-weight: bold;
}

.aanvallen {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: end;
  padding: 0;
  margin: 0 0 5rem 0;
  gap: 1rem;
}


.aanvallen li {
  border: #000 1px solid;
  border-radius: 2rem;
  text-align: center;
  padding: .5rem 1rem;
  width: 40%;
  background-color: #fcba03;
  box-shadow: #000 2px 2px 4px;
  cursor: pointer;
}

.aanvallen li:hover {
  animation: infinite 2s ease-in-out;
  animation-name: move;
  animation-duration: 2s;
}

.pokemonToGuess {
  margin: auto;
  background-color: #f3f2b3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 15px black;
  border-radius: 20px;
  height: 70vh;
  width: 50vh;
  padding-bottom: 50px;
  margin-top: 7rem;
  overflow: hidden;
}

.poke-catch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.poke-catch article:nth-child(1) p {
  font-size: 3rem;
  margin: 0;
}

.poke-catch article:first-child {
  margin-top: 2rem;
}

.poke-catch article:nth-child(2) {
  margin-bottom: 3rem;
}

.poke-catch-img {
  width: 17rem;
}

.poke-catch-ball {
  width: 5rem;
  height: 5rem;
  border-radius: 10rem;
  border: 5px lawngreen solid;
  cursor: pointer;
}

.poke-catch-ball:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.boxing-gloves {
  position: fixed;
  right: 7rem;
  top: 20rem;
}

.boxing-gloves:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.pokemonWho {
  filter: grayscale(1);
  filter: brightness(0);
  width: 60%;
  animation: infinite 1s ease-in-out;
  animation-name: move;
  animation-duration: 2s;
}

.silhouette {
  filter: brightness(0);
  width: 60%;
  animation: infinite 1s ease-in-out;
  animation-name: move;
  animation-duration: 2s;
}

.silhouette-result {
  filter: brightness(1);
  width: 70%;
  animation: infinite 1s ease-in-out;
  animation-name: move;
  animation-duration: 2s;
}

#pokemonName {
  font-size: 2.5rem;
  color: #286078;
}


#inputWho {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #286078;
  border-radius: 15px;
  width: 300px;
  padding-top: 13px;
  padding: 13px;

}

#inputWho::placeholder {
  color: #000000;
  opacity: 0.5;
  text-align: center;
}

.pokemonToGuess .fa-angles-right {
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  background-color: #286078;
  border-radius: 100%;
  color: #f3f2b3;
}

.pokemonToGuess .fa-angles-right:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

#cardTitle {
  color: #286078;
  font-size: 30px;
}

#dontKnow {
  cursor: pointer;
  color: #f3f2b3;
  text-align: center;
  background-color: #286078;
  border-radius: 15px;
  padding: 7px 10px;
  font-size: 1.3rem;
  width: 300px;
}

#dontKnow:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}


.modal-huidige button,
.modal-huidige img {
  margin: 0 auto;
}

.modal-huidige button:hover {
  background-color: green;
}

.avatars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;

}

.avatars li img {
  width: 150px;
  height: 150px;
  padding: 1rem;
  border: 2px solid #286078;
  border-radius: 50%;
  cursor: pointer;
  background-color: #f3f2b3;
  transition: 0.5s;
}

.avatars li img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.projects {
  background-color: rgb(245, 245, 155);
  border-radius: 20px;
}

/* Animation */

@keyframes move {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes denied {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: red;
  }

  100% {
    background-color: transparent;
  }
}

@keyframes damage {
  0% {
    filter: grayscale(0) brightness(100%);
    transform: scale(1);
  }
  25% {
    filter: grayscale(50%) brightness(90%);
    transform: scale(0.95);
  }
  50% {
    filter: grayscale(70%) brightness(20%) sepia(100%);
    transform: scale(0.90);
  }
  75% {
    filter: grayscale(80%) brightness(70%);
    transform: scale(0.95);
  } 
  100% {
    filter: grayscale(100%) brightness(50%);
    transform: scale(1);
  }
}


/* Media Queries */

@media (max-width: 950px) {
  .boxing-gloves {
    width: 15%;
    right: 1rem;
  }

  .denied button {
    display: block;
  }

  .denied button>img:nth-child(2) {
    display: none;
    visibility: hidden;
  }

  .denied:hover {
    animation: denied 2s infinite;
  }
}

@media (max-width: 768px) {
  .pokemon-list>ul {
    justify-content: center;
  }

  .poke-catch-img {
    width: 10rem;
  }
}

@media (max-width: 710px) {
  .projects ul li {
    width: 350px;
    height: 150px;
  }

  .ingelogd {
    background-position: right;
  }

  .hamMenu {
    display: block;
  }

  .ingelogd header nav {
    border-radius: 40px 0 0 40px;
  }

  #poke-bg {
    background-position: right;
  }

  .nav-container ul.active {
    visibility: visible;
    position: fixed;
    padding: 4rem 0.45rem 5rem 0.45rem;
    right: 0%;
    top: 0%;
    bottom: 0%;
    cursor: pointer;
    transition: .2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fcba03;
    gap: 2rem;
    z-index: 1;
  }

  .nav-container ul {
    transition: 3s ease-in-out;
    position: fixed;
    right: -140%;
    top: 0%;
    bottom: 0%;
    display: flex;
    flex-direction: column;
  }

  .current-pokemon {
    right: 10px;
  }

  .current-pokemon .pokemon-pic {
    width: 80px;
    height: 70px;
  }

  .current-pokemon img:nth-child(2) {
    width: 80px;
  }

  .pokemon-hp img,
  .pokemon-shield img {
    width: 10px;
    height: 10px;
  }

  .pokemon-hp p,
  .pokemon-shield p {
    font-size: 0.8rem;
  }

  .battler {
    background-image: url("../assets/mobiel_battler.png");
  }

  .battlefield article:nth-child(2) img {
    margin-top: 0;
  }

  .battlefield article:nth-child(2) {
    justify-content: start;
  }

  .battlefield article:nth-child(3) {
    justify-content: start;
  }

  .aanvallen {
    justify-content: end;
    margin-right: 1rem;
  }
}

@media (max-width: 475px) {
  aside.active {
    position: fixed;
    top: 200px;
  }

  .pokemon-levels ul {
    width: 200px;
  }

  .pokemon-bekijken {
    grid-template-areas: "header header" "main main";
  }

  .aanvallen li {
    font-size: 0.7rem;
  }

  .battlefield .progress,
  .progress-bar {
    height: 20px;
    width: 75%;
    font-size: 1rem;
  }

  .aanvallen {
    justify-content: center;
    align-self: center;
    margin-top: 0;
  }
}

@media (max-width: 400px) {
  .projects ul li {
    width: 300px;
    height: 150px;
  }

  aside.active {
    position: fixed;
    top: 100px;
  }

  .fa-filter {
    top: 100px;
  }

  .poke-catch article:nth-child(1) p {
    font-size: 2rem;
  }
}

@media (max-width: 320px) {
  .pokemon-levels ul {
    width: 150px;
  }

}

@media (min-width: 375px) and (max-width: 800px) {
  .pv_project {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
  }

  .pv_project input {
    width: fit-content;
  }

  .left_pokemon,
  .right_pokemon {
    font-weight: bold;
  }

  .left_pokemon img,
  .right_pokemon img {
    margin: 5.5rem 0 0rem 0;
    width: 110px;
    height: 100px;
  }

  .left_pokemon input,
  .right_pokemon input {
    width: 2rem;
    padding: 0rem;
    border: black 1px solid;
    border-left: #000 1px solid;
    border-radius: 0.7rem;
    text-align: center;
    font-family: "Anta", sans-serif;
  }

  .pv_stats {
    display: flex;
    font-size: 0.8rem;
    padding: 0;
  }

  .pv_stats li {
    padding: 0.4rem;
    width: 8rem;
    margin-top: 0.5rem;
  }

  .pv_stats li:nth-child(2) {
    width: 5rem;
  }

  .visual_percentage {
    padding: 0.5rem;
    border-radius: 6rem;
    border: 1px solid black;
  }

  .left_pokemon span {
    border: #000 1px solid;
  }

  .right_pokemon span {
    border: #000 1px solid;
  }

  .left_pokemon .visual_percentage.first {
    background-color: #1cfc03;
    width: 78%;
  }

  .left_pokemon .visual_percentage.second {
    width: 84%;
    background-color: #1cfc03;
  }

  .left_pokemon .visual_percentage.third {
    width: 78%;
    background-color: #1cfc03;
  }

  .right_pokemon .visual_percentage.first {
    background-color: #fc9d03;
    width: 45%;
  }

  .right_pokemon .visual_percentage.second {
    background-color: #fc9d03;
    width: 49%;
  }

  .right_pokemon .visual_percentage.third {
    background-color: #fc9d03;
    width: 49%;
  }

  .middle_stats {
    display: flex;
    margin-top: 14rem;
  }

  .comparison li {
    margin-top: 2.9rem;
    margin-bottom: 1.5rem;
    color: #22ee0b;
    text-shadow: #000000 2px 2px 2px;
    font-size: 1.1rem;
  }

  .comparison {
    padding: 0;
  }

  .progress {
    width: 6rem;
  }
}

@media (max-width: 1100px) {
  .pokemonToGuess {
    height: 55vh;
    width: 40vh;
    margin-top: 8rem;
  }

  .silhouette {
    width: 45%;
  }

  #inputWho {
    padding: 10px;
    font-size: 11px;
    width: 200px;
    padding-top: 8px;
    padding: 8px;
  }

  .pokemonToGuess .fa-angles-right {
    font-size: 1rem;
    padding: 0.5rem;
  }

  #cardTitle {
    font-size: 20px;
    margin-bottom: 0;
  }

  #dontKnow {
    padding: 5px 10px;
    font-size: 1rem;
    width: 150px;
  }
}